header {
  background-image: url("../../storage/bg-slider1-home.jpg");
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
}
.menu ul li a:visited {
  text-decoration: none;
}
.menu ul .submenu-home, .menu ul .submenu-page, .menu ul .submenu-shop {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.menu ul .home-menu:hover ~ .submenu-home {
  opacity: 1;
}
.menu ul .page-menu:hover ~ .submenu-page {
  opacity: 1;
}
.menu ul .shop-menu:hover ~ .submenu-shop {
  opacity: 1;
}

.phone {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.phone .phone-img {
  width: 25px;
  height: 25px;
  transform: scaleX(-1);
}