/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fa-brands {
  font-size: 1rem;
  color: lightgrey;
}

body {
  font-family: "EB Garamond", serif;
}

.book button {
  background-color: #C8A96A;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  margin-top: 35px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.book button img {
  width: 10px;
  height: 10px;
  filter: invert(100%);
}
.book button:hover {
  transform: scale(0.9);
}

.explore {
  background-color: transparent;
  color: white;
  padding: 20px 45px;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.explore img {
  width: 10px;
  height: 10px;
  filter: invert(100%);
}
.explore:hover {
  transform: scale(0.9);
}

.view {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  padding: 1.2rem 2rem 1rem;
  margin: 1rem auto;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.view img {
  width: 12px;
  height: auto;
  margin-left: 1rem;
}
.view:hover {
  transform: scale(0.9);
}

.discover {
  background-color: #C8A96A;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 0.7rem;
  transition: all 0.3s ease-in-out;
}
.discover img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}
.discover:hover {
  transform: scale(0.9);
}

.submit-button {
  padding: 1.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: none;
  background-color: #C8A96A;
}
.submit-button img {
  margin-top: 0;
  filter: invert(100%);
}

.read-more {
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 1.2rem 1rem;
  margin-left: 5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.read-more img {
  width: 12px;
  height: auto;
  margin-left: 1rem;
}
.read-more:hover {
  transform: scale(0.9);
  background-color: #C8A96A;
  color: white;
}
.read-more:hover .arrow1 {
  filter: invert(100%);
}

header {
  background-image: linear-gradient(to right, black, transparent), url("kababi-food/assets/storage/bg-slider1-home.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  z-index: -2;
}

.logo {
  margin-top: 35px;
}
.logo img {
  width: 200px;
  height: auto;
}

.menu .large-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  list-style: none;
  margin-top: 25px;
}
.menu .large-menu .small-menu {
  padding: 2rem 2rem;
  position: relative;
}
.menu .large-menu li {
  display: inline-block;
}
.menu .large-menu li a {
  text-decoration: none;
  color: white;
}
.menu .large-menu li a:visited {
  text-decoration: none;
  color: white;
}
.menu .large-menu li a:hover {
  color: #C8A96A;
}
.menu .large-menu .submenu-home, .menu .large-menu .submenu-page, .menu .large-menu .submenu-shop {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  display: none;
  position: absolute;
  top: 9vh;
  left: 0;
  z-index: 9 !important;
}
.menu .large-menu .submenu-home li, .menu .large-menu .submenu-page li, .menu .large-menu .submenu-shop li {
  padding: 0.6rem;
  background-color: #C8A96A;
}
.menu .large-menu .submenu-home li:hover, .menu .large-menu .submenu-page li:hover, .menu .large-menu .submenu-shop li:hover {
  filter: brightness(90%);
}
.menu .large-menu .submenu-home li a:hover, .menu .large-menu .submenu-page li a:hover, .menu .large-menu .submenu-shop li a:hover {
  color: white;
}
.menu .large-menu .home-menu a:focus ~ .submenu-home {
  display: flex;
}
.menu .large-menu .page-menu a:focus ~ .submenu-page {
  display: flex;
}
.menu .large-menu .shop-menu a:focus ~ .submenu-shop {
  display: flex;
}

.phone {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  margin-top: 60px;
}
.phone .phone-img {
  width: 25px;
  height: 25px;
  transform: translateY(-10px);
}

.quality {
  margin-top: 25vh;
  padding: 0 9rem;
}
.quality .img-quality {
  position: absolute;
  top: 15%;
  left: 34%;
  width: 130px;
  height: 130px;
  z-index: 2 !important;
}
.quality h1 {
  color: white;
  font-size: 100px;
  max-width: 33%;
}

.category {
  background-image: url("/assets/storage/background-2.jpg");
  background-color: #F9F5EF;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.categorysub {
  text-align: center;
  margin-bottom: 5%;
  line-height: 50px;
  margin-top: 15%;
  position: relative;
}
.categorysub h2 {
  padding-top: 10%;
  font-size: 50px;
}
.categorysub p {
  font-size: 20px;
}
.categorysub::before {
  content: "CATEGORY";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14rem;
  margin-top: 10%;
  color: #C8A96A;
  opacity: 10%;
}

.categories {
  display: grid;
  grid-template-columns: repeat(6, 12%);
  text-align: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.category-part {
  background-color: white;
  margin: 20px;
  height: 170px;
  width: 150px;
  line-height: 35px;
}
.category-part:hover {
  background-color: #C8A96A;
  color: white;
}
.category-part:hover .arrow {
  filter: invert(100%);
}
.category-part:hover .food2 {
  filter: grayscale(100%);
  filter: brightness(100);
}

.food2 {
  width: 55px;
  height: 55px;
  justify-content: center;
  margin-top: 20px;
}

.arrow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plate {
  margin-top: 100px;
  background-color: white;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.plate .crepes {
  width: 400px;
  height: 400px;
}
.plate .plate {
  width: 600px;
  height: 600px;
  border: 0;
  border-radius: 100%;
  transform: translateY(-350px);
}
.plate .eggs {
  width: 400px;
  height: 400px;
}

.about-us {
  margin-top: 120px;
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.about-us h1 {
  font-size: 200px;
  color: #C8A96A;
  opacity: 10%;
  position: absolute;
  z-index: -1;
  margin-top: 40px;
  margin-left: 20px;
}
.about-us h2 {
  padding: 100px;
  font-size: 50px;
  text-align: center;
}
.about-us .text-about-text {
  margin-top: -85px;
  margin-left: 45%;
  font-size: 20px;
}
.about-us .best-logo-food {
  position: absolute;
  width: 125px;
  height: 125px;
  right: 15%;
  top: 110px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-top: 80px;
}

.about-content img {
  max-width: 140%;
}

.about-text {
  text-align: left;
  margin-right: 20%;
  margin-top: 8%;
  font-size: 25px;
  line-height: 50px;
  width: 50%;
}

.offer {
  margin-top: 220px;
  background-color: #F9F5EF;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.offer h1 {
  font-size: 220px;
  color: #C8A96A;
  opacity: 10%;
  position: absolute;
  z-index: -1;
  margin-top: 40px;
  margin-left: 20px;
}
.offer h2 {
  padding: 100px;
  margin-left: 22%;
  font-size: 50px;
}
.offer h3 {
  margin-top: -85px;
  margin-left: 45%;
  font-size: 20px;
}
.offer .menu-bread {
  top: 0;
  right: 0;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.offer .menu-meat {
  left: 0;
  position: absolute;
  z-index: -1;
  transform: translateY(-300px);
  width: 300px;
  height: 800px;
}
.offer .cart {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 60px 60px 60px 60px;
  font-size: 20px;
  gap: 50px;
  justify-content: center;
  margin-top: 35px;
}
.offer .cart .plat {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 30px;
  border: 3px solid transparent;
  border-radius: 4px;
}
.offer .cart .plat .left {
  flex-grow: 2;
}
.offer .cart .plat .left .offers {
  padding-top: 0.4rem;
}
.offer .cart .plat .left .desc {
  font-size: 0.9rem;
  padding: 0.4rem 0;
}
.offer .cart .plat:hover {
  border: 3px dashed #C8A96A;
}
.offer .cart .plat .desc {
  font-size: 15px;
}
.offer .cart .plat .price {
  color: #C8A96A;
  font-size: 40px;
}

.gallery {
  margin-top: 120px;
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.gallery h1 {
  font-size: 220px;
  color: #C8A96A;
  opacity: 10%;
  position: absolute;
  z-index: -1;
  margin-top: 40px;
  margin-left: 20px;
}
.gallery h2 {
  padding: 100px;
  margin-left: 20%;
  font-size: 50px;
}
.gallery h3 {
  margin-top: -85px;
  margin-left: 45%;
  font-size: 20px;
}
.gallery .photos {
  padding: 55px;
}
.gallery .photos .row1, .gallery .photos .row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.gallery .photos .row1 .image-container, .gallery .photos .row2 .image-container {
  position: relative;
  background-color: black;
}
.gallery .photos .row1 .image-container img:hover, .gallery .photos .row2 .image-container img:hover {
  opacity: 0.6;
}
.gallery .photos .row1 .image-container img:hover ~ .hover-arrow, .gallery .photos .row1 .image-container img:hover ~ .hover-content, .gallery .photos .row2 .image-container img:hover ~ .hover-arrow, .gallery .photos .row2 .image-container img:hover ~ .hover-content {
  opacity: 1;
}
.gallery .photos .row1 .image-container .hover-content, .gallery .photos .row1 .image-container .hover-arrow, .gallery .photos .row2 .image-container .hover-content, .gallery .photos .row2 .image-container .hover-arrow {
  position: absolute;
  opacity: 0;
}
.gallery .photos .row1 .image-container .hover-content, .gallery .photos .row2 .image-container .hover-content {
  top: 55%;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.gallery .photos .row1 .image-container .hover-content h4, .gallery .photos .row2 .image-container .hover-content h4 {
  font-size: 2rem;
}
.gallery .photos .row1 .image-container .hover-content p, .gallery .photos .row2 .image-container .hover-content p {
  padding: 1rem;
}
.gallery .photos .row1 .image-container .hover-arrow, .gallery .photos .row2 .image-container .hover-arrow {
  top: 10px;
  right: 10px;
  filter: invert(100%);
}
.gallery .photos .row1 {
  padding-bottom: 10px;
}
.gallery .photos img:hover {
  background-color: black;
  opacity: 0;
}

.view-button {
  padding: 0 0 7rem 0;
}

.chefs {
  background-image: url(/assets/storage/imgbg-ourchefs.jpg);
  margin-top: 500px;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.chefs h1 {
  font-size: 220px;
  color: white;
  opacity: 10%;
  position: absolute;
  z-index: -1;
  margin-top: 40px;
  margin-left: 20px;
}
.chefs h2 {
  color: white;
  padding: 100px;
  margin-left: 20%;
  font-size: 50px;
}
.chefs h3 {
  color: white;
  margin-top: -85px;
  margin-left: 43%;
  font-size: 20px;
}
.chefs .photo-chef {
  display: flex;
  flex: row;
  justify-content: center;
  gap: 25px;
  margin-top: 85px;
}

.blog {
  background-color: white;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin-bottom: 300px;
}

.blogsub {
  text-align: center;
  margin-bottom: 5%;
  line-height: 50px;
  position: relative;
}
.blogsub h2 {
  padding-top: 10%;
  font-size: 50px;
}
.blogsub p {
  font-size: 20px;
}
.blogsub::before {
  content: "OUR BLOG";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14rem;
  margin-top: 10%;
  color: #C8A96A;
  opacity: 10%;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.news-part {
  line-height: 20px;
  background-color: #F9F5EF;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.news-part h3 {
  font-size: 22px;
  padding-left: 80px;
  padding-right: 100px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 20px;
}
.news-part .read-more {
  margin-bottom: 30px;
  margin-right: 230px;
}

.newsinfos p {
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 100px;
  opacity: 80%;
}

.calendar {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-left: 10px;
  transform: translateY(5px);
}

.author {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  transform: translateY(5px);
}

.newspic {
  width: 100%;
}

.newslogos {
  display: grid;
  grid-template-columns: repeat(6, 14%);
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  width: 100%;
  filter: grayscale(100%);
  opacity: 80%;
}

footer {
  background-image: url(/assets/storage/img-ng-footer.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  color: white;
}
footer .logo-footer {
  text-align: center;
}
footer .logo-footer img {
  width: 250px;
  margin-top: 40px;
}

.menus-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  margin: 3rem auto 0;
}
.menus-footer h4 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: white;
}
.menus-footer a {
  color: grey;
  text-decoration: none;
}
.menus-footer a:hover {
  color: #C8A96A;
}
.menus-footer a:visited {
  color: grey;
}
.menus-footer a:visited:hover {
  color: #C8A96A;
}
.menus-footer .about-footer, .menus-footer .facilities-footer, .menus-footer .newsletter-footer,
.menus-footer .contact-footer {
  margin: 0 auto;
  text-align: left;
}
.menus-footer .about-footer li, .menus-footer .facilities-footer li, .menus-footer .newsletter-footer li,
.menus-footer .contact-footer li {
  padding: 0.7rem;
  color: grey;
}
.menus-footer .newsletter-footer, .menus-footer .contact-footer {
  width: 70%;
}
.menus-footer input {
  padding: 0.7rem 1rem;
}

.newsletter-footer .contact-form {
  display: flex;
}
.newsletter-footerli:nth-child(2) {
  line-height: 1.5rem;
}

.contact-footer li {
  display: flex;
  align-items: center;
}
.contact-footer img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.end {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2117647059);
  width: 82%;
  margin: 2rem auto 0;
}
.end img {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
}
.end .copyright {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  width: 50%;
  font-size: 0.9rem;
  color: gray;
}
.end .copyright .themesflat {
  color: #C8A96A;
}
.end .socials {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.end .socials .icon {
  background-color: #333333;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.6s;
}
.end .socials .icon:visited {
  color: inherit;
}
.end .socials .icon:hover {
  color: white;
  background-color: #C8A96A;
  transition-duration: 0.4s;
}/*# sourceMappingURL=styles.css.map */