.book button {
  background-color: #C8A96A;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  margin-top: 35px;
  font-size: 1.2rem;
}
.book button img {
  width: 10px;
  height: 10px;
  filter: invert(100%);
}

.explore {
  background-color: transparent;
  color: white;
  padding: 20px 45px;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 4px;
}
.explore img {
  width: 10px;
  height: 10px;
  filter: invert(100%);
}

header {
  background-image: linear-gradient(to right, black, transparent), url("/assets/storage/bg-slider1-home.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  z-index: -2;
}

.logo {
  margin-top: 35px;
}
.logo img {
  width: 200px;
  height: auto;
}

.menu .large-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 25px;
}
.menu .large-menu li {
  padding: 2rem 2rem;
  display: inline-block;
}
.menu .large-menu li a {
  text-decoration: none;
  color: white;
}
.menu .large-menu li a:visited {
  text-decoration: none;
  color: white;
}
.menu .large-menu li a:hover {
  color: #C8A96A;
}
.menu .large-menu .submenu-home, .menu .large-menu .submenu-page, .menu .large-menu .submenu-shop {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.menu .large-menu .home-menu:hover ~ .submenu-home {
  opacity: 1;
}
.menu .large-menu .page-menu:hover ~ .submenu-page {
  opacity: 1;
}
.menu .large-menu .shop-menu:hover ~ .submenu-shop {
  opacity: 1;
}

.phone {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  margin-top: 45px;
}
.phone .phone-img {
  width: 25px;
  height: 25px;
  transform: translateY(10px);
}

.quality {
  margin-top: 25vh;
  padding: 0 9rem;
}
.quality .img-quality {
  position: absolute;
  top: 15%;
  left: 34%;
  width: 130px;
  height: 130px;
}
.quality h1 {
  color: white;
  font-size: 100px;
  max-width: 33%;
  margin-bottom: 2rem;
}