.category{
  
    background-image: url("/assets/storage/background-2.jpg");
    background-color: $--bg-beige;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 20vh; 
    z-index: -1;
    
  
}

.categorysub{

    text-align: center;
    margin-bottom: 5%;
    line-height: 50px;
    margin-top: 15%;
    position: relative;
    
    h2{
        padding-top: 10%;
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

    &::before{

        content: "CATEGORY";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14rem;
        margin-top: 10%;
        color: $--gold;
        opacity: 10%;

    }

}

.categories{

    display: grid;
    grid-template-columns: repeat(6, 12%);
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
   

}
.category-part {

    background-color: white;
    margin: 20px;
    padding: 10px;
    height: 170px;
    width: 150px;
    line-height: 35px;

&:hover {

   background-color:$--gold;
   color: white;

   .arrow{

    filter: invert(100%);
   }

   .food2{

    filter: grayscale(100%);
    filter: brightness(100);
   }

   
}

}

.food2{

    width: 55px;
    height: 55px;
    justify-content: center;
    margin-top: 20px;

}

.arrow{
    margin-top: 10px;
    margin-bottom: 10px;


}



