footer{
    background-image: url(/assets/storage/img-ng-footer.jpg);
    width: 100%;
    height: 80vh;
    color: white;

    .logo-footer{
        text-align: center;
    }

    img{
        width: 250px;
        margin-top: 40px;
    }
}

.menus-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    margin-top: 3rem;

    h4{
        font-weight: bold;
        font-size: 1.5rem;
    }

    a{
        color: white;
        text-decoration: none;

        &:hover{
            color: $--gold;
        }
    }

    .about-footer, .facilities-footer, .newsletter-footer,
    .contact-footer{
        line-height: 2rem;
    }

}

hr{
    opacity: 10%;
}

.copyright{
    display: flex;
    flex-direction: row;
    margin-left: 13.1rem;
    padding: 2rem;

    img{
        width: 80px;
        
    }

    .themesflat{
        color: $--gold;
    }
}