.menu{

    .large-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        
        li{
            padding: 2rem 2rem;
            display: inline-block;
            overflow: hidden;

            a{
                text-decoration: none;

                &:visited{
                    text-decoration: none;
                }
            }
        }

        .submenu-home, .submenu-page, .submenu-shop{
            display: flex;
            flex-direction: column;
            opacity: 0;
        }

        .home-menu{
            &:hover ~ .submenu-home{
                opacity: 1;
            }
        }

        .page-menu{
            &:hover ~ .submenu-page{
                opacity: 1;
            }
        }

        .shop-menu{
            &:hover ~ .submenu-shop{
                opacity: 1;
            }
        }
    }

}