.phone{
    display: flex;
    flex-direction: row;
    gap: 2px;
    color: white;
    margin-top: 25px;

    .phone-img{
        width: 25px;
        height: 25px;
        transform: translateY(10px);
    }

}
